.card{
    background-color: rgb(195, 207, 195) !important;
    padding: 1rem;
    box-shadow: 1px 2px 30px rgb(192, 187, 187);
    & .card-text{
        color:brown
    }
    .card-img-top{
        transition: all 1s;
    }
    .card-title{
        white-space: nowrap;
    }
    &:hover .card-img-top{
        transform: scale(.95);
        box-shadow: 1px 3px 20px black;
    }
}



@media screen and (max-width:780px) {
    .card{
        width: 12rem !important;
        height: 230px;
    }
    .card-title{
        font-size: 1rem !important;
        white-space: wrap !important;
    }
    .appointment{
        font-size: 14px;
    }
    .btn{
        padding: 3px 12px !important;
        font-size: 12px;
    }
    .login-legend{
        font-size: 1rem;
        top: -30px;
    }
}