.card{
    background-color: rgb(195, 207, 195) !important;
    padding: 1rem;
    box-shadow: 1px 2px 30px rgb(192, 187, 187);
    & .card-text{
        color:brown
    }
    .card-img-top{
        transition: all 1s;
    }
    &:hover .card-img-top{
        transform: scale(.95);
        box-shadow: 1px 3px 20px black;
    }
}